/**
* Copyright 2014 Pacific Controls Software Services LLC (PCSS). All Rights Reserved.
*
* This software is the property of Pacific Controls  Software  Services LLC  and  its
* suppliers. The intellectual and technical concepts contained herein are proprietary 
* to PCSS. Dissemination of this information or  reproduction  of  this  material  is
* strictly forbidden  unless  prior  written  permission  is  obtained  from  Pacific 
* Controls Software Services.
* 
* PCSS MAKES NO REPRESENTATION OR WARRANTIES ABOUT THE SUITABILITY  OF  THE  SOFTWARE,
* EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE  IMPLIED  WARRANTIES  OF
* MERCHANTANILITY, FITNESS FOR A PARTICULAR PURPOSE,  OR  NON-INFRINGMENT.  PCSS SHALL
* NOT BE LIABLE FOR ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF  USING,  MODIFYING
* OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
**/

/**
* Version    :   1.0 
* User       :   PCS
* Function   :   CSS file for UI Designer Home.
**/



.well h3 {
	color: #66429A;
	margin-top: 10px;
	font-size: 21px;
}

.well {
	min-height: 20px;
	padding: 0px 10px 0px 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #ebebeb;
	border: 0px solid #ebebeb;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.panel-default {
	border-color: #FFF;
}

.k-panelbar>li.k-state-default>.k-link {
	color: #FFF !important;
	background-color: #00A8E7;
}

.k-state-selected>.k-link, .k-panelbar>li>.k-state-selected, .k-panelbar>li.k-state-default>.k-link.k-state-selected {
	color: #fff;
	background-color: #93268f;
}

.k-panelbar .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected,
.k-state-selected td.k-state-focused,
.k-listview>.k-state-focused.k-state-selected {
	  -webkit-box-shadow: inset 0 0 0px 0px #3276b1;
	  box-shadow: inset 0 0 0px 0px #3276b1;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar>li.k-state-hover>.k-link,
.k-panelbar>li.k-state-default>.k-link.k-state-hover {
	color: #333;
	background-color: #93268f;
}

.k-tabstrip-items .k-state-default .k-link, .k-panelbar>li.k-state-default>.k-link {
	color: #ffffff;
}

.k-tabstrip-items .k-item {
	background-color: #00A8E7;
}

.k-tabstrip-items .k-item.k-state-active {
	background: #93268f;
}